{% load static %}
<div id="canvas">
  <img src="/media/{{media_file.url}}" id="media-image" class="" style="max-width: 50vw;  height: auto;"/>
</div>
<script>
django.jQuery(window).on('load', function (){
  let pins = Array()
  pins = [
  {% for elementmedia in media_file.elementmedia_set.get_queryset %}
    {
      x: {{elementmedia.position_x}},
      y: {{elementmedia.position_y}},
      x2: {{elementmedia.position_text_x}},
      y2: {{elementmedia.position_text_y}},
      text: {{elementmedia.no}},
      color: INACTIVE_COLOR,
      isOverview: {{elementmedia.is_overview | lower}}
    },
  {% endfor %}
  ]

  //remove pin which is edited from pins array
  {% if element_media_object %}
  for( var i = 0; i < pins.length; i++){
   if ( pins[i]['text'] === {{element_media_object.no}}) {
     pins.splice(i, 1);
   }
  }
  {% endif %}

  r = Raphael(django.jQuery("#canvas")[0], django.jQuery("#canvas > img").width(), django.jQuery("#canvas > img").height());
  django.jQuery(r.canvas).css({'z-index':1000, 'position':'absolute', 'top':'initial'});

  r2 = Raphael(django.jQuery("#canvas")[0], django.jQuery("#canvas > img").width(), django.jQuery("#canvas > img").height());
  django.jQuery(r2.canvas).css({'z-index':999, 'position':'absolute', 'top':'initial'});

  createPinMouseHandler(r, django.jQuery("#canvas"), django.jQuery("#position"), django.jQuery("#position_text"), django.jQuery("#ElementsMediumNo"));

  for(i=0; i<pins.length; i++){
    drawPin(r2, pins[i].x, pins[i].y, pins[i].x2, pins[i].y2, pins[i].text, pins[i].color, pins[i].isOverview);
  }

});

</script>